<div class="container-fluid">
  <body id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2><b>Mi mercadito</b></h2><br>
          </div>
          <form id="Login" class="presentationcontent">
            <p><span class="presentationTitle">Nombre del equipo: </span><span><b>Mi mercadito</b></span></p>
            <p><span class="presentationTitle">Integrantes:</span></p>
            <ol >
              <li>Indelisa Rios Zendejas</li>
              <li>Aura May Puga</li>
            </ol>
            <p><span class="presentationTitle">URL del github</span><br>
              <span><b>https://github.com/INDEZENDE/Mimercadito</b>
            </span></p><br><br>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</div>
